{% extends 'adminn/dash.html' %}
{% block content %}
<div class="mt-4 mb-4">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin-top: 5rem;">
    {{message}}
  </div>
  {% endfor %}
{% endif %}
    <div class="  mt-4 mb-4">
      <h4 class="mt-2 mb-2">Blogs</h4>
      <table class="table align-middle mb-2 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Title</th>
              <th>snippet</th>
              <th>Approve</th>
            </tr>
          </thead>
          <tbody>
              {% for blog in blogs %}
            <tr>
                <td>{{blog.title}}</td>

              <td>
                <p class="fw-normal mb-1">{{blog.snippet}}</p>
              </td>

              <td>
                  <a href="{% url 'approve_blog' blog.id %}" class="btn btn-outline-danger">Approve</a>
              </td>
            </tr>
            {% endfor %}
      
          </tbody>
        </table>
        <div class="container mt-2 align-items-center justify-content-center">
          <div class="row text-center">
  
  
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if blogs.has_previous %}    
              <li class="page-item">
                <a href="?page={{ blogs.previous_page_number }}" class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="#">
                page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
              </a></li>
              {% if blogs.has_next %}
              <li class="page-item">
                <a href="?page={{ blogs.next_page_number }}" class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
  
            </ul>
          </nav>
        </div>
      </div>
  </div>
</div>

{% endblock content %}